/AnimRay
/beanbag
/beanbag-seed
/cord
/felspar.kdev4
/fost-android
/fost-aws
/fost-base
/fost-hello
/fost-internet
/fost-orm
/fost-meta
/fost-postgres
/fost-py
/fost-windows
/fsnotify
/.kdev4
/mengmom
/rask
/tamarind
/threading
/version
/wright
*.pyc
